<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<div class="text-center mt-2">
  <input type="text" [(ngModel)]="filterText" placeholder="Filtrer par (nom, category)" />
</div>

<p-paginator [rows]="rows" [totalRecords]="filteredProducts.length" [first]="first" (onPageChange)="onPageChange($event)"></p-paginator>
<p-dataView #dv [value]="filteredProducts" [paginator]="true" [rows]="rows" [first]="first" (onPage)="onPageChange($event)">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2 pointer" (click)="onDisplay(product)">{{ product.name }}</div>
                <div class="product-field">
                  <img [src]="product.image" [alt]="product.name" />
                </div>
                <div class="product-field">
                  <p [textContent]="product.description"></p>
                </div>
                <div class="product-field">
                  <p [textContent]="'€'+product.price"></p>
                </div>
                <div class="product-field">
                  <p [textContent]="product.category"></p>
                </div>
                <div class="product-field">
                  <p [textContent]="product.inventoryStatus"></p>
                </div>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1 justify-content-between">
                        <div>
                          <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                          &nbsp;<p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                        </div>
                        <div>
                          <p-button icon="pi pi-minus" [rounded]="true" [text]="true" (onClick)="decreaseQuantity(product)"></p-button>
                          &nbsp;<p-button label="{{ product.quantity || 0 }}" variant="outlined" severity="info"></p-button>
                          &nbsp;<p-button icon="pi pi-plus" [rounded]="true" [text]="true"  (onClick)="increaseQuantity(product)"></p-button>
                          &nbsp;<p-button label="Ajouter au panier" severity="warning" (onClick)="addToCart(product)" />
                        </div>
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>

<p-dialog [(visible)]="isDisplay"
    [style]="{ width: '50vw' }"
    [header]="displayedProduct().name">
    <app-product-details
    [product]="displayedProduct()"
    />
</p-dialog>
