<h1 class="text-center">Liste des produits</h1>

<div class="text-center">
  <input type="text" [(ngModel)]="filterText" placeholder="Filter products..." />
</div>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<p-paginator [rows]="rows" [totalRecords]="filteredProducts.length" [first]="first" (onPageChange)="onPageChange($event)"></p-paginator>
<p-dataView #dv [value]="filteredProducts" [paginator]="true" [rows]="rows" [first]="first" (onPage)="onPageChange($event)">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                <div class="product-field">
                  <img [src]="product.image" [alt]="product.name" />
                </div>
                <div class="product-field">
                  <p [textContent]="product.description"></p>
                </div>
                <div class="product-field">
                  <p [textContent]="'€'+product.price"></p>
                </div>
                <div class="product-field">
                  <p [textContent]="product.category"></p>
                </div>
                <div class="product-field">
                  <p [textContent]="product.inventoryStatus"></p>
                </div>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Afficher" severity="primary" (onClick)="onDisplay(product)"/>
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                        <p-button label="Ajouter au panier" severity="warning" (onClick)="addToCart(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>

<p-dialog [(visible)]="isDisplay"
    [style]="{ width: '50vw' }"
    [header]="displayedProduct().name">
    <app-product-details
    [product]="displayedProduct()"
    />
</p-dialog>
