<p-card header="Panier" class="block m-2 text-center">
  <div class="m-0">
    <div class="grid cart-header">
      <div class="col">item</div>
      <div class="col">qty</div>
      <div class="col">price</div>
      <div class="col">total</div>
      <div class="col">-</div>
    </div>
    @for (item of cart; track item) {
      <div class="grid">
        <div class="col">{{ item[0].name }}</div>
        <div class="col">{{ item[1] }}</div>
        <div class="col">{{ item[0].price }}</div>
        <div class="col">{{ item[1] *item[0].price }}</div>
        <div class="col">
          <p-button label="Supprimer" severity="danger" (onClick)="onDelete(item[0])" />
        </div>
      </div>
    }
  </div>
</p-card>
