<p-card header="Panier" class="block m-2 text-center">
  <div class="m-0">
    <div class="grid cart-header">
      <div class="col">item</div>
      <div class="col">qty</div>
      <div class="col">price</div>
      <div class="col">total</div>
      <div class="col">-</div>
    </div>
    @for (item of cart; track item) {
      <div class="grid">
        <div class="col">{{ item.product.name }}</div>
        <div class="col">
          <p-button icon="pi pi-minus" (onClick)="decreaseQuantity(item.product)" class="p-button-rounded p-button-text"></p-button>
          <span>{{ item.quantity }}</span>
          <p-button icon="pi pi-plus" (onClick)="increaseQuantity(item.product)" class="p-button-rounded p-button-text"></p-button>
        </div>
        <div class="col">{{ item.product.price }}</div>
        <div class="col">{{ item.quantity * item.product.price }}</div>
        <div class="col">
          <p-button label="Supprimer" severity="danger" (onClick)="onDelete(item.product)" />
        </div>
      </div>
    }
  </div>
</p-card>
